<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="position: absolute; margin-right: 50%;">
        <h1>Kamu telah menyewa <%= dataHouse.name %>,
        silahkan cek email untuk melakukan pembayaran</h1>
        <a href="/house"><button>OK</button></a>
    </div>
</body>
</html>